.component-card {
    margin-bottom: 40px
  }
.component-card > img{
    display: block;
    width: 100%;
    height: 300px;
    margin: 10px 0 10px 20px;
    border: 1px solid black;
}
#weather-info{
  color: coral;
}
.temp{
color: lightcoral;
}
img{
  margin-top: 20px;
}