<div class="container-fluid">
    <div class="row component-card">
        <div class="col-sm-4">
            <h1>{{city.name}}</h1>
            <section  *ngIf="weather">
                <br>
                <br>
                <h3 id="weather-info">Weather:</h3>
                <strong>{{weather.name}}</strong>
                <p>Currently {{weather.weather[0].description}}</p>
                <p><em class="temp">Daytime High: </em>&nbsp;&nbsp;<strong> {{ weather.main.temp_max}}°</strong> <br><em class="temp">Nighttime Low: </em>&nbsp;<strong>{{weather.main.temp_min}}°</strong>
                </p>
            </section>

        </div>
        <div class="col-sm-8">
            <!-- IMG TAG ADDED THE STYLE FROM: https://www.w3schools.com/html/html_responsive.asp -->
            <img src="{{city.imgUrl}}" style="max-width:100%;height:auto;" />
        </div>
        <div>



           


            <h1>Posts</h1>
            <div *ngFor="let post of city.posts; index as i">


                <div *ngIf="city">
                    <h1><a routerLink="/cities/{{city.id}}/posts/{{i}}"> {{city.name}} {{post.title}}</a></h1>
                    <p>{{post.body}}</p>
                </div>
            </div>


           

            <div>

                <form #form="ngForm" (ngSubmit)="submit(form.value)"> 
                   
                    <h4>Title:</h4>
                       <input type="text" name="title" placeholder="Title" ngModel required>
                       <h4>Author:</h4>
                       <input type="text" name="author" placeholder="Author" ngModel required>
                       <h4>Post</h4>
                       <textarea type="text" name="body" rows="4" cols="50" maxlength="200" placeholder="Post" ngModel required></textarea> 
            
                        <br>
                        <input type="submit" value="Post"/>
            
                   </form>
      
            </div>


        </div>
    </div>
</div>