.navbar-brand {
    height: 50px;
    width: 50px;
    position: relative;
    left: 20px;
}

#nav-bar1 {
    background-color: #166088;
    /* height: 50px; */
    padding-top: 14px;
    font-size: 24px;
    /*  font-weight: bold; */
    height: 60px;
}

a {
    text-decoration: none;
    position: relative;
    left: 100px;
    padding: 14px 16px;
    color: #DBE9EE;
}

a:hover {
    opacity: 50%;
}

form {
    position: absolute;
    top: 10px;
    ;
    right: 20px;
}

form>input {
    size: 10px;
}


/* #logo {
    width: 40px;
    height: 40px;
    padding-top: 5px;
    color: red;
} */