<nav id="nav-bar1">
    <div id="logo"></div>
    <a routerLink="/">Wayfarer</a>
    <a routerLink="/cities/">Cities</a>

    <div>
        <form #sform="ngForm" (ngSubmit)="onSubmit(sform)">
            <input type="text" ngModel name="nameSearch" placeholder="search" required/>
            <input id="btn" type="submit" value="Search" />
        </form>

    </div>

    <!-- <div *ngIf="cities">
        <app-city></app-city>

        <div class="col-sm-4">
            <h1>{{cities.name}}</h1>
        </div>
        <div class="col-sm-8">
            <img src="{{city.imgUrl}}" height="300" width="600" />
        </div>
        <div>
            <h1>Postss</h1>
            <div *ngFor="let post of city.posts; index as i">
                <div>
                    <h1><a routerLink="/cities/{{city.id}}/posts/{{i}}"> {{city.name}} {{post.title}}</a></h1>
                    <p>{{post.body}}</p>
                </div>
            </div>

        </div>


    </div> -->