#nav-bar1 {
    background-color: lightgreen;
    /* height: 50px; */
    padding-top: 14px;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    position: relative;
}

a {
    text-decoration: none;
    position: relative;
    left: 100px;
    padding: 14px 16px;

}

form {
    position: absolute;
    top: 5px;;
    right:20px;
    
}
form > input{
    size: 10px;
}



/* div{
    position: relative;
} */

/* #logo {
    width: 40px;
    height: 40px;
    padding-top: 5px;
    color: red;
} */

