<div>
    <div class=“carousel”>
      <ul class=“slides”>
        <input type=“radio” name=“radio-buttons” id=“img-1” checked />
        <li class=“slide-container”>
          <div class=“slide-image”>
            <img src=“../../assets/images/gibraltar.jpg”>
          </div>
          <div class=“carousel-controls”>
            <label for=“img-3" class=“prev-slide”>
              <span>&lsaquo;</span>
            </label>
            <label for=“img-2" class=“next-slide”>
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type=“radio” name=“radio-buttons” id=“img-2" />
        <li class=“slide-container”>
          <div class=“slide-image”>
            <img src=“../../assets/images/sanfran.jpg”>
         </div>
          <div class=“carousel-controls”>
            <label for=“img-1” class=“prev-slide”>
              <span>&lsaquo;</span>
            </label>
            <label for=“img-3” class=“next-slide”>
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <input type=“radio” name=“radio-buttons” id=“img-3” />
        <li class=“slide-container”>
          <div class=“slide-image”>
            <img src=“../../assets/images/london.jpg”>
          </div>
          <div class=“carousel-controls”>
            <label for=“img-2" class=“prev-slide”>
              <span>&lsaquo;</span>
            </label>
            <label for=“img-1" class=“next-slide”>
              <span>&rsaquo;</span>
            </label>
          </div>
        </li>
        <div class=“carousel-dots”>
          <label for=“img-1” class=“carousel-dot” id=“img-dot-1”></label>
          <label for=“img-2" class=“carousel-dot” id=“img-dot-2"></label>
          <label for=“img-3” class=“carousel-dot” id=“img-dot-3”></label>
        </div>
      </ul>
    </div>
  </div>
<div id=“topic”>
    <h1>Wayfarer is...</h1>
</div>
<br>
<div id=“topic”>
  <h2>About</h2>
  <h2>Locations</h2>
  <h2>Benefits</h2>
</div>
<div id=“topic”>
  <p id=“about”>Wayfayer is a travel community that serves to<br> both answer questions and inspire travelers.
    It’s<br> a place to read and submit opinions, <br> advice on travel-related subjects,<br> and
    browse for ideas, tips, and answers to <br> you didn’t even know you had.
  </p>
  <p id=“location”>Learn about favorite locations around the world <br> others interested in going
    somewhere or from <br> who have been there.
  </p>
  <p id=“benefits”>Meet the Wayfayer’s travel community. Connect with <br>people from all over the world and
    ask your<br> questions about travel!
  </p>
</div>