.container-cities {
    border: 1px solid;
    margin-top: 20px;
}

.cities {
    width: 400px;
    height: 600px;
    background-color: #DBE9EE;
    border: 1px solid;
}

#cities-title {
    text-align: center;
    padding-top: 10px;
}

#gibraltar {
    height: 80px;
    width: 160px;
    border: 2px solid;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 20px;
}

.cities>div>div {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
}

.cities-card {
    border-radius: 20px;
    border: black solid 1px;
    height: 135px;
    margin: 10px;
    background-color: white;
}

a {
    font-size: 80%;
}