
<div class="row container-cities">
    <div class="col-sm-4 cities">
        <h1 id="cities-title">Cities</h1>

        <div class="cities-card" *ngFor="let city of cities">
            <div>
                <img id="gibraltar" src="{{city.imgUrl}}"/>
                <h3>
                    <a routerLink="/cities/{{city.name}}">
                        {{city.name}} 
                    </a>
                </h3>
            </div>

        </div>
    
     </div>
    <div class="col-sm-8">
        <router-outlet></router-outlet>
    </div>
     
    
   
       
</div>
